body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h1{
    color: black;
}
p{
    color: rgb(4, 219, 148);
}
p{
    font-size: 20px;
}
.color{
    color: rgb(96, 208, 236);
}
section{
    display: flex;
}
.hw{
    width: 50%;
}
.hw img{
    width: 80%;
}




