body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h1{
    color: black;
}
p{
    color: rgb(0, 0, 0);
}
p{
    font-size: 20px;
}
.color{
    color: rgb(96, 208, 236);
}
.fc{
    display: flex;
}
.hw{
    width: 50%;
padding-left: 5%;
margin-right: 10px;

}
.hw img{
    width: 80%;
    padding-top: 5%;

  
}
.xd{
    color: blue;
}
.lb{
    text-decoration: none;
 background-color: orange;
color: rgba(0, 2, 102, 0.89);
padding: 5px 5px;
border-radius: 5px;
font-weight: 700;
font-style: initial;
}
.bi{
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}

.we{
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
} 
.bi2{
    background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.fc{
    display: flex;
background-origin: padding-box;
}

.kk{
    color: coral;
}
.cd{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.ty{
    margin: 2% 2% 2% 2%;
    padding: 2% 2%;
    box-shadow: 10px 10px 40px darkcyan;
border-radius: 5px;
}
#yy{
    color: dimgray;
        margin-left: 5%;}



